body{
    color: white;
    background-color: rgb(135, 206, 235);
    margin: 5%;
    text-align: center;
}
#images{
    padding-top: 2vh;
}
.imgsmall{
    width: 25vw;
    height: 25vh;
}

h1{
    font-size: 300%;
}

p{
    font-size: 150%;
}

a {
    color: white;    
}
a:link{
    text-decoration: none;
}

.button {
    width: 20%;
    color: white;
    font-size: 14px;
    line-height: 14px;
    padding: 7px;
    border-radius: 0px;
    background-image:
        linear-gradient(to right,
         rgb(28, 110, 164) 0%,
            rgb(35, 136, 203) 50%,
               rgb(20, 78, 117) 100%);
    display: inline-block;
}

.button:hover {
    background: #1C6EA4;
    color:skyblue;
}
.button:active {
    background: #144E75;
}
    