body{
    color: white;
    background-color: rgb(135, 206, 235);
    margin: 100px;
}

a {
    color: white;    
}
a:link{
    text-decoration: none;
}

.imgsmall{
    width: 150px;
    height: 150px;
}

.button {
    
    color: white;
    font-size: 14px;
    line-height: 14px;
    padding: 7px;
    border-radius: 0px;
    background-image:
        linear-gradient(to right,
         rgb(28, 110, 164) 0%,
            rgb(35, 136, 203) 50%,
               rgb(20, 78, 117) 100%);
    display: inline-block;
}

.button:hover {
    background: #1C6EA4;
    color:skyblue;
}
.button:active {
    background: #144E75;
}
    